h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.building{
    background-color: rgb(13, 231, 53);
    font-weight: 700;
    width: 10%;
    font-size: large;
    font-family: serif;

}
.aro{
    font-weight: 300;
    border: 10px solid gray;
    border-radius: 2em;
    text-align: center;
}
div{
    background-color: deepskyblue;
    font-family: Arial, Helvetica, sans-serif;
}